/* class */
.section-title {
  position: relative;
  margin-top: $mb-2;
  margin-bottom: $mb-4;
  font-size: $h2-font-size;
  color: $first-color;
  text-align: center;
}

.section-title::after {
  content: '';
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;

  width: 64px;
  height: .18rem;
  margin: auto;
  background: $first-color;
}

.session {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.icon {
  width: 2rem;
  margin-right: $mb-2;
}