.home {
  height: calc(100vh -3rem);
  row-gap: 1rem;
  margin: 0 auto;
}

// .home__data {
//   align-self: center;
// }

.home__title {
  font-size: $big-font-size;
  margin-bottom: $mb-5;
}

.home__title-color {
  color: $first-color;
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: $mb-2;
  font-size: 1.5rem;
  color: $second-color;

  &:hover {
    color: $first-color;
  }
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}