.home {
  min-height: 95vh;
  row-gap: 1rem;
}

.home__title {
  font-size: $big-font-size;
  margin-bottom:  $mb-5;
  margin-top: 4rem;
}

.home__title-color {
  color: $first-color;
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: $mb-2;
  font-size: 1.5rem;
  color: $second-color;

  &:hover {
    color: $first-color;
    // border-radius: .3rem;
    // padding: .2rem .35rem 0  .35rem;
    // box-shadow: 0 0 5px rgba($color: #888, $alpha: .5);
  }
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 2rem;
  width: 295px;
}

.home__img img {
  width: 100%;
}